body{
    background-color:#edcfa9;
    text-align:center;
}

hr{
    background-color:orange;
    border-style:none;
    border-top-style:dotted;
    border-width:5px;
    width:100%;
}

/*img{
    border-radius:20%;
    background-color:orange;
    border-style:dotted;
    border-width:5px; 
}
   
*/

.luigi{
    border-radius: 20%;
    border-style: dashed;
    border-width: 5px;
}

.mario{
    border-radius: 20%;
    border-style:double;
    border-width: 5px;
}